# Configurações do Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Inteligência Artificial (Gemini)
NEXT_PUBLIC_GEMINI_API_KEY=

# Notificações Google Chat
# Exemplo: https://chat.googleapis.com/v1/spaces/XXXX/messages?key=YYYY&token=ZZZZ
NEXT_PUBLIC_GOOGLE_CHAT_WEBHOOK_URL=
NEXT_PUBLIC_GOOGLE_CHAT_SIGNATURE_WEBHOOK_URL=
